<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--
        从包：org\springframework\boot\spring-boot\1.2.6.RELEASE\spring-boot-1.2.6.RELEASE.jar拷贝来的
        Base logback configuration provided for compatibility with Spring Boot 1.1
    -->
    <!--logback配置文件-->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <!--日志文件路径，支持Spring Environment to System properties-->
    <property name="LOG_INFO_FILE" value="./logs/info/${LOG_FILE:-/app.log}"/>
    <property name="LOG_ERROR_FILE" value="./logs/error/${LOG_FILE:-/app.log}"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <include resource="logback/error-file-appender.xml"/>
    <include resource="logback/info-file-appender.xml"/>
    <!--设置默认的级别-->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="INFO_FILE"/>
        <appender-ref ref="ERROR_FILE"/>
    </root>
</configuration>